

.red {
    color: red
}

.buttonsPlace {
    display: flex;

    justify-content: space-around;
    /*border: 1px deepskyblue solid;*/
    width: 300px;
}

button {
    color: #272d33;
    background-color: deepskyblue;
    border: 0px;
    border-radius: 8px;
    width: 90px;
    height: 45px;
    font-size: 25px;
}


.buttonDisabled {
    background-color: gray;

}

