input {
    height: 20px;
    width: 90px;
}

.buttonsPlace {
    display: flex;
    justify-content: space-around;
    width: 240px;
    height: 60px;
    align-items: center;
    border-radius: 8px;
}

.red {
    color: #fc2727;
}

.scoreBoard {
    height: 100px;
    width: 240px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: deepskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttonDisabled {
    background-color: gray;
}

.textInput {
    display: flex;
    justify-content: space-between;
    width: 230px;
    height: 26px;
    align-items: center;
}
.redInput {
    background-color: red;
}
