

.buttonsPlace {
    display: flex;
    justify-content: space-around;
    width: 240px;
    height: 60px;

    border: 2px deepskyblue solid;
    align-items: center;
    border-radius: 8px;
    /*flex-direction: row;*/

}

.red {
    color: red
}

.background {
    height: 200px;
    width: 300px;
    margin: 10px;
    border: 3px deepskyblue solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #272d33;
    font-size: 50px;


}

.scoreBoard {
    height: 100px;
    width: 240px;
    background-color: deepskyblue;

    border-radius: 8px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scoreBoardDisabled {
    height: 100px;
    width: 240px;
    /*background-color: deepskyblue;*/
    border: 2px deepskyblue solid;

    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: deepskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttonDisabled {
    background-color: gray;

}